<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="big-header">About Abigail Karl</h1>
    <h2>Early Life</h2>
    <p>I was born in Baltimore, Maryland on <strong>August 22nd, 2002</strong>. I grew up in Pasadena, Maryland with two siblings named Todd and Jonathan. I am now <em>21</em> years old.</p>
    <p id="third-para">Some of my favorite hobbies include: singing, listening to music, and playing video games</p>


    <h2>Time at University of Maryland</h2>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Smith Logo">
    <p>I started at the University of Maryland in 2020 as a business undecided major. Now, I am a senior <em>finance</em> and <em>information systems</em> double major.
        I am graduating in <strong>May 2024</strong>.</p>

    <!--Created an unordered list to display exactly what my favorite classes have been so far at UMD-->
    <h4> My Favorite UMD Courses:</h4>
    <ul>
        <li>BMGT302</li>
        <li>BMGT343</li>
        <li>INAG123</li>
    </ul>

    <!--Created an ordered list so that viewers can see the rankings of my study spots at UMD-->
    <h4> My Favorite Study Spots:</h4>
    <ol>
        <li>Mckeldin Library</li>
        <li>ESJ</li>
        <li>My Apartment</li>
    </ol>

    <h4> Favorite Course Schedule:</h4>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT343</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>INAG123</td>
            <td>Fall 2021</td>
        </tr>
    </table>

    <p>Here is a link to my hello page: <a href="/hello">Hello Page</a>.</p>

    <!--Created two hyperlinks to my favorite websites so viewers can enjoy and explore them. Viewers also will open a new browser when selected-->
    <h4>Favorite Websites:</h4>
    <p>Astrology Charts: <a href="https://astro-charts.com/persons/" target="_blank">Celebrity Astrology Page</a>.</p>
    <p>YouTube: <a href="https://www.youtube.com/@jenn">Jenn's YouTube Channel</a>.</p>

</body>
</html>