{% extends 'base.html' %}

{% block page_title %}Contact{% endblock %}

{% block page_header %}Contact Form{% endblock %}
    <!--Display the favorite subject and course number for users to view-->

{% block page_content %}
<!--If statement that directs user to thank you message if the form is submitted-->
    {% if form_submit %}
        <div class="col-12">
            <h2>Thank you for submitting the contact form!</h2>
        </div>
        <div class="col-6">
            <p>First Name: {{ request.form.get('first_name')}}</p>
        </div>
        <div class="col-6">
            <p>Last Name: {{ request.form.get('last_name')}}</p>
        </div>
        <div class="col-6">
            <p>Email Address: {{ request.form.get('email')}}</p>
        </div>
        <div class="col-6">
            <p>Birth Month: {{ request.form.get('birth_month')}}</p>
        </div>



    <!--Creating a form with at least four fields- Fname, Lname, Email and Phone Number for users to enter their information -->
    <!--Else statement that will redirect the user to complete the form again-->
    {% else %}
    <form action="{{ url_for('contact')}}" method="post">
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input name="first_name" type="text" class="form-control" id="first_name">
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input name="last_name" type="text" class="form-control" id="last_name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input name="email" type="email" class="form-control" id="email">
      </div>
      <div class="mb-3">
        <label for="birth_month" class="form-label">Birth Month</label>
        <input name="birth_month" type="text" class="form-control" id="birth_month">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
{% endblock %}
